
.cards-planet{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 30px;
}
.card-width {
    width: 18rem;
}
img{
    width: 100%;
}
.card-name-planet{
    color: yellow;
    font-weight: bold;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;

}

.card-title-planet{
    color: #F5F5F5;
    font-weight: bold;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;

}

.card-body-planet{
    background-color: rgb(9, 28, 82);
    flex-grow: 1; /* Asegura que el fondo ocupe todo el espacio disponible */
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 15px; /* Añadir padding para asegurar que el texto no esté pegado */
    
}

.card-text{
    color: #F5F5F5;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.planet-cards{
        
    border-bottom: 3px solid #777777;
    background-color: #000;
}
.card-img-top-planet{
    width: 286px;
    height: 200px;
    object-fit: contain;
    font-weight: bold;
    border-bottom: 3px solid #FDC02D;

}